<style>

.header {
  color: violet;
  text-align: center;
}

.h1 {
  color: violet;
  text-align: center;
  color: white;
}

.h2 {
  text-align: center;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;

}

.GroupHeader {
  text-align: center;
  padding: 5px 50px 5px 100px;
  font-style: oblique;
color:white;
 font-size: 40px;
 text-shadow: 3px 3px 5px red;
}

.column1 {
  float: left;
  width: 20%;
  border-style: ridge;
  padding: 10px;
  height: auto; 
}
.column2 {
  float: left;
  width: 80%;
  border-style: ridge;
  padding: 10px;
  height: 200px;
 background-image: url('../images/herzbild-54.jpg')
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}
.columnWinter {
	border-style: ridge;
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px;
  background-color: rgb(174, 135, 167); 
}

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}
body {
  background-image: url('../images/herzbild-54.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
.bg-img {
  background-image: url("../images/585fa574e9a36.jpg");

  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.container {
  position: absolute;
  margin: 20px;
  width:all;
}
.topnav {
  overflow: hidden;
  background-color: #333;
  margin-left:auto;
    margin-right:auto;
}

.topnav a {
  float: left;
  color: #f2f2f8;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 20px;
}
.topnav .search-container {
  float: right;
}
.topnav a:hover {
  background-color: #ddd;
  color: #ba7cae;
}
.p {
	text-align: justify;
	font-style: italic;
	 font-size: 20px;
	 color: black;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.pDostavka {
	text-align: justify;
	font-style: italic;
	 font-size: 20px;
	 color: black;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
}
.questions {
text-align: left;
	font-style: italic;
	 font-size: 15px;
	 color: black;
  font-family: "Arial Black", Gadget, sans-serif	
}
.FB {
  background: rgb(0, 80, 205);
  text-align:center;
 }
 .tw {

  background: rgb(0, 180, 205);
  text-align:center;
}
.Price {
  text-align: left;
  padding: 5px 50px 5px 100px;
  font-style: oblique;
color:white;
 font-size: 30px;
 text-shadow: 3px 3px 5px red;
}
</style>
</head>
<body>